<li class="b-comment">
    <div class="comment-content">
        <p class="comment-name"><%= comment.name %></p>
        <div class="comment-body"><%= simple_format(comment.body, class: 'paragraph') %></div>
        <p class="comment-time"><%= time_ago_in_words(comment.created_at) %> ago.</p>
    </div>
    <% if user_signed_in? %>
        <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "btn x-delete", data: { confirm: 'Are you sure?' } %>
    <% end %>
</li>